body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: rgba(44, 62, 80, 1.0);
}

.bubble {
    /*
  border-style: solid;
  border-width: thin;
  border-color: #34495e;
  */

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  margin-top: 5px;
}

.channel {
  color: #3498db;
  background-color: #7f8c8d;
}

.username {
  margin-top: -10px;
  color: #3498db;
}

.message {
  color: #bdc3c7;
  margin-top: -50px !important;
}

.shadow {
  text-shadow: 0px 0px 6px #000000;
}

#chat {
    position: relative;
    z-index: 99;
}

#controls {
    max-width: 400px;

    position: fixed;
    z-index: 999;

    top: 25px;
    right: 25px;
    float: right;
}